:root {
 /*  Fonts */
--main-font: 'Roboto', sans-serif;
--secondary-font: 'Raleway', sans-serif;

  /* Text colors */
  --main-txt-cl: #212121;
  --light-txt-cl: #ffffff;
  --light-txt-cl-60: rgba(250, 250, 250, 0.6);
  --accent-txt-cl: #2196F3;
  --grey-txt-cl: #757575;
  --black-txt-cl: #000000;
  --grey-button-txt-cl: #F5F4FA;
  --shadow-txt-cl: 0px 4px 4px rgba(0, 0, 0, 0.25);


  /* Background colors */

  --main-light-bg-cl: #ffffff;
  --grey-bg-cl-20: rgba(0, 0, 0, 0.2);
  --light-grey-bg-cl: #D9D9D9;
  --grey-bg-cl: #2F303A;
  --grey-team-bg-cl: #F5F4FA;
  --light-icon-bg-cl: #EEEEEE;
  --accent-bg-cl: #2196F3;
  --shadow-btn-bg-cl: 0px 4px 4px rgba(0, 0, 0, 0.15);

  /* Others */
  --line-cl: #ECECEC;
}
/* reset */
.list {
    list-style: none;
}
.logo,.item-nav, .header-link,.footer-link {
    text-decoration: none;
}
/* main styles for body */
.page {
    font-family: var(--main-font);
    background-color: var(--main-light-bg-cl);
    color: var(--grey-txt-cl);
}

/* background styles */
.section-title, .footer {
    background-color: var(--grey-bg-cl);
}
.section-team {
    background-color: var(--grey-team-bg-cl);
}
.item-team{
    background-color: var(--main-light-bg-cl);
}
/* styles navigation */
.logo {
    font-family: var(--secondary-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--black-txt-cl);
    text-shadow: var(--shadow-txt-cl);

}
.logo-braket-nav {
    color: var(--accent-txt-cl);
    font-weight: 700;
}
.studio {
    color: var(--light-txt-cl);
}
.item-nav, .header-link {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: var(--grey-txt-cl);
}
.item-nav {
    color: var(--black-txt-cl);    
}
.header-link:hover, 
.header-link:focus,
.header-link:active {
    color: var(--accent-txt-cl);
}
.item-nav:hover, 
.item-nav:focus,
.item-nav:active {
    color: var(--accent-txt-cl);
}
/* active pages */
.item-nav :active {
color: var(--accent-bg-cl);
}
/* styles for hero */

.main-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--light-txt-cl);
}
.btn {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--light-txt-cl);
    cursor: pointer;
    background: var(--accent-bg-cl);
    box-shadow: var(--shadow-btn-bg-cl);
    border-radius: 4px;
}

.btn :hover,
.btn :focus,
.btn :active {
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
}
/* styles for features */

.subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-cl);
}
.feature-content {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;

}
/* styles for team-section */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl);
}
.subtitle-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-txt-cl); 
}
.team-content {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;

}
/* styles for footer */
.footer-link {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; 
    color: var(--light-txt-cl-60);   
}
.adres {
    color: var(--light-txt-cl);
}
.adres:hover, 
.adres:focus,
.adres:active {
    color: var(--accent-txt-cl);
}
.footer-link:hover,
.footer-link:focus,
.footer-link:active {
    color: var(--accent-txt-cl);
}
/* styles for portfolio */
.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-txt-cl);
    cursor: pointer;
    background: var(--grey-team-bg-cl);
}

.btn-project :hover,
.btn-project :focus,
.btn-project :active {
    color: var(--light-txt-cl);
    background-color: var(--accent-bg-cl);
}
.subtitle-project {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--main-txt-cl);
}
.project-content {
   font-size: 16px;
   line-height: 30px;
   letter-spacing: 0.03em;    
   color: var(--grey-txt-cl);
}
